body {
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-nav {
  background-color: salmon;
}

.kitchen-brand {
  color: aqua;
}

form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.userFirstName {
  margin-right: 10px;
}

.brand {
  cursor: pointer;
}

.welcome {
  margin: 25px auto;
  text-align: center;
}

.mealJumbo {
  margin: 25px auto;
  background-color: white;
  border: solid gold 1px;
}

.meal {
  text-align: center;
  margin: 5% auto;
}

.jumboImage {
  max-height: 75%;
}
